<h1>tweets#show</h1>

<%= @tweet.body %>

<%= link_to 'Edit Tweet', edit_tweet_path(@tweet), method: :get %>
<%= link_to 'Delete Tweet', tweet_path(@tweet), method: :delete, data: { confirm: 'Are you sure you want to delete this tweet?'} %>

