/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
  background-image: url(/assets/tweet-background.jpg);
}

.tweet-followers {

}

.tweet-cont {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid gray;
}

.nav-link {
  padding-left: 350px;
  color: white;
  justify-content: center;
}

.twitter-logo {
  height: 30px;
  weight: 30px;
}

.navbar {
  background-color: #496d96;
}

.buttons {
  margin-top: 20px;
}

.tweets {
  margin: 20px;
}

.card-contain {
  height:800px;
  width: 200px;
}

.card {
  margin: 10px;
  padding: 5px;
}

.profile-img {
  margin-top: 10px;
}

.thumb-container {

}

.thumb-img {
  padding: 0px;
  width: 100px;
  height: 100px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}

.tweet-name {
  padding-left: 30px;
}

.show-tweet {
  background-color: white;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    margin-left: 80px;
}

.show-tweet-cont {
  margin-left: 20px;
  margin-right: 20px;
}

.control-label{
     color: white !important; // some color
     font-size: 30px;
}

 .box {
    background-color: #496d96;
    margin: 5px;
    width: 200px;
    padding: 0;
    align-items: center;
 }

.lower-block {
  margin: 30px;
}
  .new-tweet {
    background-color: white;
    margin: 50px;
    margin-left: 50px;
    padding: 20px;
   }

 .box-show-1 {
    background-color: white;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    height: 70px;
 }

 .box-show-2 {
    background-color: white;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    margin-left: 80px;
 }

 .profile-name {
    margin: 20px;
    text-align: center;
 }

 .align-list {
    padding: 0px;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: center;
 }

 .hash-tags {
    margin-top: 20px;
 }

 .list-item {
    margin: 5px;
    padding: 0;
    font-size: 15px;
   }

  .list-group-item {
    border: 0;
  }

  .all-tweets {
    background-color: #496d96;
  }

  .white-box {
    background-color: white;
    margin: 20px;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    height: 90%;
    overflow-y: scroll;
    margin: auto;
    margin-top: 50px;
  }


