/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
  background-image: url(/assets/tweet-background.jpg);
}

.index{
  margin-left: 180px;
  margin-right: 180px;
}

.buttons {
  margin-top: 20px;
}

.tweets {
  margin: 20px;
}

.card-contain {
  height:800px;
  width: 200px;
}

.card {
  margin: 10px;
  padding: 5px;
}

 .box {
    background-color: #496d96;
    margin: 5px;
    width: 200px;
    padding: 0
 }

 .align-list {
    flex-direction: row;
    padding: 0px;
 }

 .hash-tags {
    margin-top: 20px;
 }

 .list-item {
    margin: 5px;
    padding: 0
   }

  .new-tweet {
    background-color: white;
    margin: 5px;
    padding: 5px;
   }

